<!DOCTYPE html>
<!-- {% load static %} -->
<html>
<head>
    <title>Books App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- <script type="text/javascript" src="../../static/js/form_valid.js"></script> -->
</head>

{% block content %}

<form name="myForm" onsubmit="return validateForm()" method="post">
	
	{% csrf_token %}
	
	<!-- {{ form.as_p }} -->
	Name: <input type="text" name="fname">
	<input type="submit" value="Submit">

</form>

{% endblock %}

<script type="text/javascript">
	function validateForm() {
	  let x = document.forms["myForm"]["fname"].value;
	  if (x == "") {
	    alert("Name must be filled out");
	    return false;
	  }
	}

</script>